<html lang="en">
<body>
<p>
    Dear @Model.UserName
</p>

<p>
    You your visit will take place from @Model.StartsAt to @Model.EndsAt
</p>

<p>
    We look forward to your visit!
</p>
</body>
</html>